<mat-dialog-content class="sub-modal-content">
  <mat-icon class="sub-modal-icon" [class]="iconUI.iconColorClass">
    {{ iconUI.icon }}
  </mat-icon>

  <h3 class="text-gray-800">{{ data.title }}</h3>

  @if (data.contentHtml) {
    <div class="html-content" [innerHTML]="data.contentHtml | safeHtmlPipe"></div>
  } @else {
    <p class="text-gray-600">{{ data.content }}</p>
  }

  <mat-dialog-actions align="center" class="sub-modal-actions">
    @if (data.secondaryButtonLabel) {
      <button class="wizard-button wizard-button-secondary" [mat-dialog-close]="'secondary'" [disabled]="isLoading()">
        {{ data.secondaryButtonLabel }}
      </button>
    }
    <button class="wizard-button"
            [class.wizard-button-primary]="data.type !== 'error'"
            [class.wizard-button-error]="data.type === 'error'"
            (click)="onConfirm()"
            [disabled]="isLoading()">
      @if (isLoading()) {
        <mat-spinner diameter="20" class="button-spinner"></mat-spinner>
      }
      {{ data.primaryButtonLabel }}
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
