<mat-dialog-content class="sub-modal-content">
  <mat-icon class="sub-modal-icon" [class]="iconUI.iconColorClass">
    {{ iconUI.icon }}
  </mat-icon>

  <h3 class="text-gray-800">{{ data.title }}</h3>
  <p class="text-gray-600">{{ data.content }}</p>
  <mat-dialog-actions align="center" class="sub-modal-actions">
    @if (data.secondaryButtonLabel) {
      <button class="wizard-button wizard-button-secondary" [mat-dialog-close]="'secondary'">
        {{ data.secondaryButtonLabel }}
      </button>
    }
    <button class="wizard-button wizard-button-primary" [mat-dialog-close]="'primary'">
      {{ data.primaryButtonLabel }}
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
