<div class="confirm-dialog-container">
  <div class="confirm-dialog-header">
    <mat-icon class="sub-modal-icon" [class]="iconUI.iconColorClass">
      {{ iconUI.icon }}
    </mat-icon>
    <h3 class="text-gray-800">{{ data.title }}</h3>
  </div>

  <mat-dialog-content class="sub-modal-content">
    @if (data.contentComponent) {
      <div class="html-content">
        <ng-container *ngComponentOutlet="data.contentComponent; inputs: data.contentComponentInputs"></ng-container>
      </div>
    } @else {
      <p class="text-gray-600">{{ data.content }}</p>
    }
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="sub-modal-actions">
    @if (data.secondaryButtonLabel) {
      <button class="secondary-button" [mat-dialog-close]="'secondary'" [disabled]="isLoading()">
        {{ data.secondaryButtonLabel }}
      </button>
    }
    <button class="primary-button"
            [class.destructive]="data.type === 'error'"
            (click)="onConfirm()"
            [disabled]="isLoading()">
      @if (isLoading()) {
        <mat-spinner diameter="20" class="shared-button-spinner"></mat-spinner>
      }
      {{ data.primaryButtonLabel }}
      @if (data.primaryButtonIcon) {
        <mat-icon>{{ data.primaryButtonIcon }}</mat-icon>
      }
    </button>
  </mat-dialog-actions>
</div>
