@use '../../../../../shared/styles/configuration' as config;
@use '../../../../../shared/styles/common';

.load-button {
  @include common.shared-button('primary');
}

.cancel-button {
  @include common.shared-button('tertiary');
}

.empty-config-grid {
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
