<div class="decommission-box">
  @if (deviceIds.length === 1) {
    <p class="text-gray-600">This will <b>permanently remove</b> this device <b>{{deviceIds[0]}}</b> from the Lab Console inventory. This action cannot be undone.</p>
  } @else {
    <p class="text-gray-600">This will <b>permanently remove</b> the selected devices from the Lab Console inventory. This action cannot be undone.</p>
    <div class="items-list-container">
      <p class="items-list-label">
          <span class="material-icons info-icon-small">info</span> Devices to be decommissioned:
      </p>
      <div class="items-scroll-container custom-scrollbar">
        <ul class="items-list">
          @for(id of deviceIds; track id) {
            <li class="item-row"><span class="item-dot"></span>{{id}}</li>
          }
        </ul>
      </div>
    </div>
  }
  @if (deviceIds.length === 1) {
    <p class="note-text text-gray-500">If this device connects again later, it will be discovered as a new device.</p>
  } @else {
    <p class="note-text text-gray-500">If these devices connect again later, they will be discovered as new devices.</p>
  }
  <div class="notes-section">
    <p class="note-text">
      <span class="note-label">Note:</span> It may take a few minutes to take effect on the UI side.
    </p>
  </div>
</div>
