@use '../../../../../shared/styles/configuration';

.device-config-content {
  padding: 1.5rem;
  overflow-y: auto;

  .empty-config-title {
    font-size: 0.875rem;
    text-align: center;
    color: #64748b;
    margin: 4px 0 1.5rem 0;
    font-weight: inherit;
    letter-spacing: normal;
  }

  .empty-config-grid {
    display: grid;
    gap: 1rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .choice-card {
      border: 1px solid #cbd5e1;
      border-radius: 0.75rem;
      padding: 1.5rem;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s;
      background-color: #f8fafc;
      font-size: 100%;
    }
    .choice-card:hover {
      border-color: #0b57d0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
    .choice-card .material-icons {
      font-size: 2.5rem;
      color: #0b57d0;
    }

    .choice-card-title {
      font-weight: 500;
      color: #1e293b;
      margin-top: 0.5rem;
    }
  }

  .host-missing-container {
    text-align: center;
    padding: 1.5rem;
    background-color: #fefce8;
    border-radius: 0.5rem;
    border: 1px solid #fef08a;

    .warning-icon {
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 0.75rem;
      color: #ca8a04;
    }

    .host-missing-title {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: #854d0e;
    }

    .host-missing-content {
      color: #a16207;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0.5rem 0 1rem 0;
    }

    a {
      text-decoration: none;
    }

    .open-in-new-icon {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  .copy-from-container {
    max-width: 28rem;
    margin: 1rem auto auto;

    .load-button {
      width: 100%;
      margin-top: 0.5rem;
      line-height: 1.25rem;
    }

    .copy-error-message {
      color: #bf4444;
      font-size: 0.75rem;
      line-height: 1rem;
      margin-top: 0.25rem;
    }
  }
}
