@use '@angular/material' as mat;

$labconsole-font: Roboto, sans-serif;

.date-range-button {
  @include mat.button-overrides((
    text-container-shape: 18px,
    text-label-text-tracking: 0,
    text-label-text-color: #1967d2,
  ));

  span {
    margin: 0 6px;
  }
}

::ng-deep .mat-mdc-menu-panel.date-range-menu {
  max-width: none;
  border-radius: 12px;
  overflow: hidden;
}

.date-range-container {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
}

.presets, .apply-button {
  @include mat.button-overrides((
    text-label-text-font: $labconsole-font,
    text-label-text-color: #3c4043,
    text-label-text-tracking: 0,
    text-label-text-size: 16px,
  ));
}

.presets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.85rem;
  border-right: 1px solid #ccc;
  padding-right: 16px;
  flex-shrink: 0;

  button {
    font-family: $labconsole-font;
    text-align: left;
    white-space: nowrap;
  }
}

.custom-range {
  display: flex;
  flex-direction: column;

  .date-inputs {
    @include mat.form-field-overrides((
      container-height: 36px,
      container-vertical-padding: 12px,
      outlined-focus-outline-color: #0b57d0,
      outlined-hover-outline-color: #0b57d0,
      outlined-container-shape:0.375rem,
      outlined-focus-label-text-color: #0b57d0,
      outlined-hover-label-text-color: #0b57d0,
    ));

    display: flex;
    gap: 8px;
    margin: 8px 0;

    mat-form-field {
      width: 180px;
    }
  }

  .form-errors {
    color: red;
    font-size: 12px;
    min-height: 24px;
  }
}

.apply-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
