<button mat-button [matMenuTriggerFor]="menu" class="date-range-button" (menuOpened)="updateToday()">
  <mat-icon>calendar_today</mat-icon>
  <span>{{displayedRange.start | date:'MMM d, y'}} - {{displayedRange.end | date:'MMM d, y'}} (PDT)</span>
  <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu" class="date-range-menu">
  <div class="date-range-container" (click)="$event.stopPropagation()">
    <div class="presets">
      <button mat-button (click)="selectLastNDays(7)">Last 7 days</button>
      <button mat-button (click)="selectLastNDays(30)">Last 30 days</button>
      <button mat-button (click)="selectLastNDays(90)">Last 90 days</button>
    </div>
    <div class="custom-range" [formGroup]="range">
      <div class="date-inputs">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Start Date (PDT)</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="start" [max]="today">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker (opened)="updateToday()"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>End Date (PDT)</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="end" [max]="today">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker (opened)="updateToday()"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-errors">
        @if (range.hasError('endDateBeforeStartDate')) {
          <mat-error class="form-errors">
            End date must be on or after start date.
          </mat-error>
        }
        @if (range.hasError('minDateRange')) {
          <mat-error class="form-errors">
            The date range must be at least 3 days.
          </mat-error>
        }
        @if (range.hasError('maxDateRange')) {
          <mat-error class="form-errors">
            The date range must be at most 90 days.
          </mat-error>
        }
      </div>
      <div class="apply-button-container">
        <button mat-button color="primary" class="apply-button" (click)="apply()" [disabled]="range.invalid">Apply</button>
      </div>
    </div>
  </div>
</mat-menu>
