<div class="user-add-container">
  <div class="chip-container">
    <mat-chip-grid>
      @if (users.length == 0) {
        <span class="empty-chip">None added.</span>
      }
      @for (item of users; track $index; let i = $index) {
        <mat-chip-row class="user-chip" removable (removed)="remove(i)">
          <span>{{item}}</span>
          <button class="chip-remove" matChipRemove>
            <i class="material-icons">close</i>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
  </div>

  <div class="add-chip-container">
    <input
      type="text"
      placeholder="Add user or group..."
      class="form-input add-input"
      [(ngModel)]="user"
    />
    <button class="wizard-button wizard-button-secondary" (click)="add()"> Add </button>
  </div>
</div>
