@use '@angular/material' as mat;

:host {
  width: 100%;
}

.snackbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .main-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    // Prevents long text from pushing the button out
    min-width: 0;
  }

  mat-icon:not(.close-icon) {
    margin-right: 12px;
    flex-shrink: 0;
  }

  span {
    // Allow message to wrap
    white-space: normal;
    word-break: break-word;
  }

  .close-button {
    // margin-left: 16px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    // Make the icon white by default
    color: white;
    // Vertically center the button
    align-self: center;

    .mat-icon,
    .material-icons {
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-right: 0;
    }

    // Adjust ripple color to be visible on dark backgrounds
    @include mat.icon-button-overrides(
      (
        state-layer-color: white,
      )
    );
  }
}
