<app-dialog
  [title]="data.source === 'new' ? 'Guided Setup' : 'Review Configuration'"
  [subtitle]="subtitle"
  [height]="data.source === 'new' ? '90vh' : ''"
  (onPermissionChange)="onPermissionChange($event)"
  width="72rem"
>
  @if (data.source === 'new') {
    <div class="stepper-section">
      <mat-stepper class="stepper-container" #stepper [(selectedIndex)]="currentStep" linear >
        <mat-step label="Permissions">
          <main class="step-content">
            <app-permissions [(permissions)]="config.permissions" workflow="wizard">
            </app-permissions>
          </main>
        </mat-step>
        <mat-step label="Wi-Fi">
          <main class="step-content">
            <app-wifi [(wifi)]="config.wifi" workflow="wizard"></app-wifi>
          </main>
        </mat-step>
        <mat-step label="Dimensions">
          <main class="step-content">
            <app-dimensions
              [(dimensions)]="config.dimensions"
              (hasError)="hasError = $event"
              workflow="wizard"
            ></app-dimensions>
          </main>
        </mat-step>
        <mat-step label="Review & Submit">
          <main class="step-content">
            <ng-container *ngTemplateOutlet="review"></ng-container>
          </main>
        </mat-step>
      </mat-stepper>
    </div>
  }
  @if (data.source === 'copy') {
    <main class="step-content">
      <ng-container *ngTemplateOutlet="review"></ng-container>
    </main>
  }

  <ng-container footer-buttons>
    <button mat-button mat-dialog-close class="wizard-button wizard-button-tertiary">
      Cancel
    </button>
    @if (data.source === 'new' && currentStep > 0) {
      <button mat-button class="wizard-button wizard-button-secondary" (click)="previousStep()">
        Back
      </button>
    }
    @if (data.source === 'new' && currentStep < WIZARD_STEPS_NEW.length - 1) {
      <button
        mat-button
        class="wizard-button wizard-button-primary"
        (click)="nextStep()"
        [disabled]="hasError"
      >
        Next
      </button>
    }
    @if (currentStep === WIZARD_STEPS_NEW.length - 1) {
      <button
        mat-button
        class="wizard-button wizard-button-primary"
        [disabled]="!permissionResult.hasPermission || verifying()"
        (click)="applyChanges()"
      >
        @if (verifying()) {
          <mat-spinner [diameter]="20" class="wizard-button-spinner"></mat-spinner>
          Verifying...
        } @else {
          Apply Changes
        }
      </button>
    }
  </ng-container>
</app-dialog>

<ng-template #review>
  <h3 class="title-medium font-semibold text-gray-800">Review & Submit</h3>
  <p class="text-gray-600 review-desc">
    @if (data.source === 'new') {
      Excellent! You've completed the initial setup. You can always edit this configuration later
      from the main settings page, which also contains more advanced options.<br /><br />Please
      review the configuration below, and click 'Apply Changes' to save.
    } @else {
      You are about to apply a copied configuration. Please review the settings below before
      applying them to this device.
    }
  </p>

  <table mat-table [dataSource]="dataSource" class="review-table" multiTemplateDataRows>
    <ng-container matColumnDef="feature">
      <th mat-header-cell *matHeaderCellDef>Feature</th>
      <td mat-cell *matCellDef="let element"> {{ element.feature }} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Applied Configuration</th>
      <td mat-cell *matCellDef="let element" [innerHtml]="element.value"></td>
    </ng-container>

    <ng-container matColumnDef="title">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        {{ element.feature }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row text-gray-700"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['title']; when: isTitleRow"
      class="category-row"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; when: isDataRow"></tr>
  </table>
</ng-template>
