<div class="host-detail-container">
  @if (hostPageData$ | async; as data) {
    @if (data.isNotFound) {
      <app-not-found-content
        entityType="Host"
        [entityId]="data.hostName || ''"
        [backActionType]="BackActionType.HOST"
        (refresh)="triggerRefresh()">
      </app-not-found-content>

    } @else if (data.error) {
      <app-error-content
        [errorMessage]="data.error"
        [errorDetails]="data.errorDetails || ''"
        errorTitle="Failed to Load Host"
        pageType="host"
        (refresh)="triggerRefresh()">
      </app-error-content>
    } @else if (data.hostOverviewPageData; as pageData) {
      @let host = pageData.overviewContent;
      <div class="main-card">
        <header class="card-header">
          <div class="header-host-id">
            <span class="host-id-text">{{ host.hostName }}</span>
            @if (host.ip) {
              <span>({{ host.ip }})</span>
            }
          </div>

          <app-host-action-bar [pageData]="pageData"></app-host-action-bar>
        </header>

        <div class="card-body">
          <div class="host-title-bar">
            <div class="title-icon-wrapper">
              <mat-icon class="title-icon">dns</mat-icon>
            </div>
            <h1 class="host-title" title="{{ host.hostName }}">
              <span class="host-text-bold">Host: </span>
              <span class="host-text">{{ host.hostName }}</span>
            </h1>
            <div class="title-action-container">
              <button class="title-action-btn" title="Copy host name to clipboard" (click)="copyToClipboard(host.hostName)">
                <mat-icon class="title-action-icon">content_copy</mat-icon>
              </button>
              <button class="title-action-btn" title="Refresh data" (click)="triggerRefresh()" [disabled]="loadingService.isLoading()">
                <mat-icon class="title-action-icon" [class.spin-animation]="loadingService.isLoading()">refresh</mat-icon>
              </button>
            </div>
          </div>
          <div class="host-overview-content">
            <app-host-overview-page [host]="host" [actions]="pageData.headerInfo.actions" (refresh)="triggerRefresh()"></app-host-overview-page>
          </div>
        </div>
      </div>
    } @else {
      <div class="loading-message">
        <p>Loading host details...</p>
      </div>
    }
  }
</div>
