<div class="master-detail-layout-container">
  <!-- Left Sticky Navigation -->
  <aside class="master-detail-layout-nav-container">
    <nav class="master-detail-layout-nav">
      @for (nav of navList(); track nav.id) {
        <a
          #navLink
          href="#{{ nav.id }}"
          class="master-detail-layout-nav-link"
          [class.active]="nav.id === activeSection()"
          (click)="scrollToSection($event, '#' + nav.id)"
          >{{ nav.label }}</a
        >
      }
    </nav>
  </aside>
  <!-- End of Left Sticky Navigation -->
  <div class="master-detail-layout-content-cards">
    <ng-content></ng-content>
  </div>
</div>
