@use '../../../../../../shared/styles/configuration' as config;

.stability-container {
  letter-spacing: normal;

  .title {
    display: flex;
    align-items: center;
    @extend .config-section-title;
  }

  .description {
    margin: 0.25rem 0 1.5rem 0;
    color: #6b7280;
  }

  .reboot-config {
    max-width: 36rem;

    .label-code {
      font-size: 0.75rem;
      line-height: 1rem;
    }

    .label-desc {
      margin-top: 0.25rem;
    }
  }

  .form-field input{
    font-family: config.$labconsole-font;
  }
}
