<div class="page-container">
  @if (devicePageData$ | async; as data) {
    @if (data.error) {
      <div class="error-message">
        <mat-icon class="error-icon">error_outline</mat-icon>
        <p>{{ data.error }}</p>
        <a routerLink="/dev/device-harness" class="m3-button">Back to Harness</a>
      </div>
    } @else if (data.pageData; as pageData) {
      @let device = pageData.overview;
      <div class="main-card">
        <header class="card-header">
          <div class="header-device-id">
            <a
              [routerLink]="['/hosts', device.host.name]"
              class="host-link"
              title="Navigate to host: {{ device.host.name }}"
              >{{ device.host.name }}</a
            >
            <mat-icon class="chevron-icon">chevron_right</mat-icon>
            <span class="device-id-text" title="Device ID: {{ device.id }}">{{ device.id }}</span>
          </div>

          <app-device-action-bar #actionBar [pageData]="pageData"></app-device-action-bar>
        </header>

        <div class="card-body">
          <!-- Legacy Console Banner -->
          <div class="legacy-page-banner">
            <mat-icon class="legacy-page-banner-icon">info</mat-icon>
            <span>
                This is the new OmniLab Console. If needed, you can
              <a
                href="#"
                id="legacy-link"
                target="_blank"
                class="legacy-link"
                >
                view this device in the legacy page
                </a>.
            </span>
          </div>

          <!-- Device Title Bar -->
          <div class="device-title-bar">
            <div class="title-bar-content-wrapper">
              <div class="title-icon-wrapper">
                <mat-icon class="title-icon">important_devices</mat-icon>
              </div>
              <div class="title-text-wrapper">
                <div class="title-main">
                  <h1 class="device-title" title="{{ device.id }}">{{ device.id }}</h1>
                  <button
                    (click)="copyToClipboard(device.id)"
                    class="copy-button"
                    title="Copy device ID"
                  >
                    <mat-icon class="copy-icon">content_copy</mat-icon>
                  </button>
                </div>
                <div class="title-subtitle">
                  <span>Connected to Host:</span>
                  <a
                    [routerLink]="['/hosts', device.host.name]"
                    class="host-link-inline"
                    title="{{ device.host.name }}"
                    >{{ device.host.name }}</a
                  >
                </div>
              </div>
            </div>
            @if(pageData.headerInfo.quarantine?.isQuarantined) {
              <div class="quarantine-banner">
                <div class="quarantine-banner-info">
                    <mat-icon>report_problem</mat-icon>
                    <div>
                        Device is <strong>Quarantined</strong> and unavailable for tests.
                        @if(pageData.headerInfo.quarantine?.expiry) {
                          <span class="block text-xs">Auto-unquarantine around: {{ getFormattedQuarantineExpiry(pageData.headerInfo.quarantine!.expiry) }}{{formatRemainingTime(pageData.headerInfo.quarantine?.expiry)}}</span>
                        }
                    </div>
                </div>
                <div class="quarantine-banner-actions">
                    <button class="m3-action-button transparent" title="Change quarantine duration" (click)="changeQuarantine()">Change Duration</button>
                    <button class="m3-action-button transparent" title="Make device available for tests" (click)="unquarantineDevice()">
                        Unquarantine
                    </button>
                </div>
              </div>
            }
          </div>

          <!-- Tabs -->
          <div class="tabs-container">
            <nav class="tabs-nav">
              <button
                (click)="setActiveTab('overview')"
                class="tab-link"
                [class.active]="activeTab() === 'overview'"
              >
                Overview
              </button>
              <button
                (click)="setActiveTab('test-history')"
                class="tab-link"
                [class.active]="activeTab() === 'test-history'"
              >
                Test History
              </button>
              <button
                (click)="setActiveTab('health')"
                class="tab-link"
                [class.active]="activeTab() === 'health'"
              >
                Health Statistics
              </button>
              <!-- <button
                (click)="setActiveTab('record')"
                class="tab-link"
                [class.active]="activeTab() === 'record'"
              >
                Record
              </button> -->
            </nav>
          </div>

          <!-- Tab Content -->
          <div class="tab-content-container">
            @if (activeTab() === 'overview') {
              <div class="tab-content">
                <app-device-overview-tab [device]="device"></app-device-overview-tab>
              </div>
            }
            @if (activeTab() === 'test-history') {
              <div class="tab-content">
                <p class="placeholder-text">The test history tab is still under development.</p>
              </div>
            }
            @if (activeTab() === 'health') {
              <div class="tab-content">
                <app-health-statistic-tab [deviceId]="device.id"></app-health-statistic-tab>
              </div>
            }
            @if (activeTab() === 'record') {
              <div class="tab-content">
                <p class="placeholder-text">Device Record Content Here.</p>
              </div>
            }
          </div>
        </div>
      </div>
    } @else {
      <div class="loading-message">
        <p>Loading device details...</p>
      </div>
    }
  }
</div>
