<footer class="config-footer">
  @if (permissionResult$ | async; as permissionResult) {
    @if (permissionResult.isChecking) {
      <div class="permission-status">
        <div class="spinner"></div>
        <span>Checking permissions...</span>
      </div>
    } @else {
      @if (permissionResult.hasPermission) {
        <div class="permission-status success">
          <i class="material-icons">check_circle</i>
          <span>{{ permissionResult.message }}</span>
        </div>
      } @else {
        <div class="permission-status failure">
          <div style="display: flex; align-items: center">
            <i class="material-icons">cancel</i>
            <span>{{ permissionResult.message }}</span>
          </div>
          <a href="#" class="request-access-link">
            <span class="request-access-link-text">Request Access</span>
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      }
    }

    <mat-dialog-actions align="end">
      <ng-content select="[footer-buttons]"></ng-content>
    </mat-dialog-actions>
  }
</footer>
