@if (configResult$ | async; as configResult) {
  @if (configResult.isHostManaged) {
    <app-host-managed [deviceId]="data.deviceId" [hostName]="data.hostName"></app-host-managed>
  } @else if (!configResult.deviceConfig) {
    <app-device-empty
      [deviceId]="data.deviceId"
      [hostName]="data.hostName"
      title="This device has an empty configuration. Choose how to begin."
    ></app-device-empty>
  } @else {
    <app-device-settings
      [deviceId]="data.deviceId"
      [config]="configResult.deviceConfig"
      [uiStatus]="configResult.uiStatus"
    ></app-device-settings>
  }
}
