@use '../../../../shared/styles/configuration' as config;

.device-config-header {
  position: relative;
  padding: 1.5rem;
  margin: 0;
  font-family: config.$labconsole-font;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-title-container {
    flex-grow: 1;
  }

  .header-menu-container {
    gap: 0.25rem;
    display: flex;
    align-items: center;

    .header-menu {
      position: relative;
    }

    .action-button {
      @extend .config-action-button;
    }
  }

  .header-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #1e293b;
    margin: 0;
  }

  .header-subtitle {
    font-size: 0.875rem;
    color: #64748b;
    margin: 4px 0 0 0;

    strong {
      font-weight: 500;
      color: #374151;
    }
  }
}

.device-config-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: config.$labconsole-font;

  .permission-status {
    display: flex;
    align-items: center;
    font-style: italic;
    color: #64748b;
    font-size: 0.8rem;
  }
  .permission-status .material-icons {
    margin-right: 0.5rem;
    font-size: 1.1rem;
  }
  .permission-status .spinner {
    margin-right: 0.5rem;
  }
  .permission-status.success {
    font-style: normal;
  }
  .permission-status.success .material-icons {
    color: #16a34a;
  }
  .permission-status.failure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-style: normal;
  }
  .permission-status.failure > div > .material-icons {
    color: #dc2626;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner {
    width: 1rem;
    height: 1rem;
    border: 2px solid #e2e8f0;
    border-top-color: #0b57d0;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}
