$labconsole-font: Roboto, sans-serif;

.overview-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1.5rem;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

// Left Sticky Navigation
.overview-nav-container {
  width: 100%;
  flex-shrink: 0;
  align-self: flex-start;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;

  @media (min-width: 992px) {
    width: 16rem; // w-64
    position: sticky;
    top: 2rem; // Adjust as needed
  }
}

.overview-nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; // space-y-1
  background-color: #f9fafb;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;

  @media (min-width: 992px) {
    background-color: transparent;
    padding: 0;
    border: none;
  }
}

.overview-nav-link {
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  color: #3c4043; // text-gray-700
  text-decoration: none;
  transition:
    background-color 0.2s,
    color 0.2s;
  border-left: 3px solid transparent;
  font-size: 16px;

  &:hover {
    background-color: #f3f4f6; // hover:bg-gray-100
  }

  &.active {
    color: #1967d2; // text-blue-700
    font-weight: 700;
    background-color: #e8f0fe; // bg-blue-50
    border-left-color: #1967d2; // border-blue-700
  }
}

.overview-content-cards {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  ::ng-deep .overview-card {
    background-color: #f0f4f9;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
  }

  ::ng-deep .overview-card-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.125rem;
    font-weight: 500;
    color: #1f2937;
    margin: 0;
  }

  ::ng-deep .overview-card-content {
    padding: 1.5rem;

    .mat-icon {
      height: unset;
      width: unset;
      overflow: visible;
    }
  }
}
