@use '../../../../../../shared/styles/configuration' as config;

.permissions-container h3 {
  @extend .config-section-title;
}

.title-medium {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.wizard-question-text {
  color: #374155;
  margin-bottom: 0.75rem;
  display: block;
}

.definition-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0.25rem 0 1rem 0;
}
