<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.wireless.qa.mobileharness.tool.android.language"
    android:versionCode="5"
    android:versionName="1.0.5" >

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions"/>

    <application android:label="SwitchLanguageUtil">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="com.google.wireless.qa.mobileharness.tool.android.language.SwitchLanguageUtil"
        android:targetPackage="com.google.wireless.qa.mobileharness.tool.android.language" />
</manifest>
