<?xml version="1.0" encoding="utf-8"?>
<!-- LINT.IfChange -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.wireless.qa.mobileharness.tool.android.language"
    android:versionCode="5"
    android:versionName="1.0.5" >
<!-- LINT.ThenChange(//depot/google3/java/com/google/wireless/qa/mobileharness/shared/api/decorator/AndroidSwitchLanguageDecorator.java) -->

    <!-- This is an instrumentation app, targetSdkVersion minimum (23) check on Q won't be triggered
         when calling methods in instrumentation apps, no need to upgrade targetSdkVersion here. -->
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application android:label="SwitchLanguageUtil">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="com.google.wireless.qa.mobileharness.tool.android.language.SwitchLanguageUtil"
        android:targetPackage="com.google.wireless.qa.mobileharness.tool.android.language" />
</manifest>
