<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.wireless.qa.mobileharness.tool.android.language"
    android:versionCode="6"
    android:versionName="1.0.6" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34"/>

    <!-- Needed to change the current configuration -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions"/>
    <!-- Needed to change system locale after API 23 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>

    <application>
        <activity
            android:name="com.google.wireless.qa.mobileharness.tool.android.language.BlankActivity"
            android:exported="true"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <instrumentation
        android:label="SwitchLanguageUtil"
        android:name="com.google.wireless.qa.mobileharness.tool.android.language.SwitchLanguageUtil"
        android:targetPackage="com.google.wireless.qa.mobileharness.tool.android.language" />
</manifest>
