<div class="header-actions">
  <!-- 2xl view -->
  <div class="header-actions-2xl">
    @if (actions?.configuration?.visible) {
      <button
        class="m3-action-button filled"
        (click)="openConfiguration(deviceId, hostName)"
        [disabled]="!actions?.configuration?.enabled"
        [matTooltip]="actions?.configuration?.tooltip || ''"
        data-testid="configuration-button-2xl"
      >
        <mat-icon>settings</mat-icon>Configuration
      </button>
    }
    @if (actions?.screenshot?.visible) {
      <button
        class="m3-action-button filled"
        (click)="takeScreenshot(deviceId)"
        [disabled]="!actions?.screenshot?.enabled || takingScreenshot()"
        [matTooltip]="actions?.screenshot?.tooltip || ''"
        data-testid="screenshot-button-2xl"
      >
        @if (takingScreenshot()) {
          <mat-icon class="spin-animation">sync</mat-icon>Taking...
        } @else {
          <mat-icon>screenshot</mat-icon>Screenshot
        }
      </button>
    }
    @if (actions?.remoteControl?.visible) {
      <button
        class="m3-action-button filled"
        (click)="remoteControl(deviceId, actions?.remoteControl?.runAsOptions || [], actions?.remoteControl?.defaultRunAs || '')"
        [disabled]="!actions?.remoteControl?.enabled"
        [matTooltip]="actions?.remoteControl?.tooltip || ''"
        data-testid="remote-control-button-2xl"
      >
        <mat-icon>important_devices</mat-icon>Remote Control
      </button>
    }
    @if (actions?.flash?.visible) {
      <button
        class="m3-action-button filled"
        (click)="flashDevice(deviceId, hostName, deviceType, '')"
        [disabled]="!isAndroid"
        data-testid="flash-button-2xl"
      >
        <mat-icon>flash_on</mat-icon>Flash
      </button>
    }
    @if (actions?.logcat?.visible) {
      <button
        class="m3-action-button filled"
        (click)="getLogcat(deviceId)"
        [disabled]="!actions?.logcat?.enabled || gettingLogcat()"
        [matTooltip]="actions?.logcat?.tooltip || ''"
        data-testid="logcat-button-2xl"
      >
        @if (gettingLogcat()) {
          <mat-icon class="spin-animation">sync</mat-icon>Fetching...
        } @else {
          <mat-icon>description</mat-icon>Get Logcat
        }
      </button>
    }
    @if (actions?.quarantine?.visible) {
      @if (quarantineInfo?.isQuarantined) {
        <div class="m3-split-button-group" data-testid="quarantine-group-2xl">
          <button class="m3-split-button main-action" (click)="quarantineDevice(deviceId)" [disabled]="unquarantining()">
            @if (unquarantining()) {
              <mat-icon class="spin-animation">sync</mat-icon>Working...
            } @else {
              <mat-icon>play_circle_outline</mat-icon>Unquarantine
            }
          </button>
          <button class="m3-split-button dropdown-action" [matMenuTriggerFor]="quarantineMenu2xl" matTooltip="Quarantine options" [disabled]="unquarantining()">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #quarantineMenu2xl="matMenu">
            <button mat-menu-item (click)="changeQuarantine(deviceId)">
              <mat-icon>edit_calendar</mat-icon>
              <span>Change Duration</span>
            </button>
          </mat-menu>
        </div>
      } @else {
        <button class="m3-action-button filled" (click)="quarantineDevice(deviceId)" data-testid="quarantine-group-2xl">
          <mat-icon>block</mat-icon>Quarantine
        </button>
      }
    }
  </div>

  <!-- xl view -->
  <div class="header-actions-xl">
    @if (actions?.configuration?.visible) {
      <button
        class="m3-action-button filled"
        (click)="openConfiguration(deviceId, hostName)"
        [disabled]="!actions?.configuration?.enabled"
        [matTooltip]="actions?.configuration?.tooltip || ''"
        data-testid="configuration-button-xl"
      >
        <mat-icon>settings</mat-icon>Configuration
      </button>
    }
    @if (actions?.screenshot?.visible) {
      <button
        class="m3-action-button filled"
        (click)="takeScreenshot(deviceId)"
        [disabled]="!actions?.screenshot?.enabled || takingScreenshot()"
        [matTooltip]="actions?.screenshot?.tooltip || ''"
        data-testid="screenshot-button-xl"
      >
        @if (takingScreenshot()) {
          <mat-icon class="spin-animation">sync</mat-icon>Taking...
        } @else {
          <mat-icon>screenshot</mat-icon>Screenshot
        }
      </button>
    }
    @if (actions?.remoteControl?.visible) {
      <button
        class="m3-action-button filled"
        (click)="remoteControl(deviceId, actions?.remoteControl?.runAsOptions || [], actions?.remoteControl?.defaultRunAs || '')"
        [disabled]="!actions?.remoteControl?.enabled"
        [matTooltip]="actions?.remoteControl?.tooltip || ''"
        data-testid="remote-control-button-xl"
      >
        <mat-icon>important_devices</mat-icon>Remote Control
      </button>
    }
    <button
      class="m3-action-button transparent dropdown-trigger"
      [matMenuTriggerFor]="moreMenu"
    >
      <span>More</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      @if (actions?.flash?.visible) {
        <button
          mat-menu-item
          (click)="flashDevice(deviceId, hostName, deviceType, '')"
          [disabled]="!isAndroid"
          data-testid="flash-menu-item-xl"
        >
          <mat-icon class="dropdown-mat-icon">flash_on</mat-icon>
          <span>Flash</span>
        </button>
      }
      @if (actions?.logcat?.visible) {
        <button
          mat-menu-item
          (click)="getLogcat(deviceId)"
          [disabled]="!actions?.logcat?.enabled || gettingLogcat()"
          [matTooltip]="actions?.logcat?.tooltip || ''"
          data-testid="logcat-menu-item-xl"
        >
          <mat-icon class="dropdown-mat-icon">description</mat-icon>
          <span>Get Logcat</span>
        </button>
      }
      @if (actions?.quarantine?.visible) {
        @if (quarantineInfo?.isQuarantined) {
          <button mat-menu-item (click)="quarantineDevice(deviceId)" [disabled]="unquarantining()" data-testid="quarantine-menu-item-xl">
            @if (unquarantining()) {
              <span>
                <mat-icon class="spin-animation dropdown-mat-icon">sync</mat-icon>
                <span>Working...</span>
              </span>
            } @else {
              <span>
                <mat-icon class="dropdown-mat-icon">play_circle_outline</mat-icon>
                <span>Unquarantine</span>
              </span>
            }
          </button>
          <button mat-menu-item (click)="changeQuarantine(deviceId)">
            <mat-icon class="dropdown-mat-icon">edit_calendar</mat-icon>
            <span>Change Duration</span>
          </button>
        } @else {
          <button mat-menu-item (click)="quarantineDevice(deviceId)" data-testid="quarantine-menu-item-xl">
            <mat-icon class="dropdown-mat-icon">block</mat-icon>
            <span>Quarantine</span>
          </button>
        }
      }
    </mat-menu>
  </div>

  <!-- small view -->
  <div class="header-actions-sm">
    @if (actions?.configuration?.visible) {
      <button
        class="m3-action-button filled"
        (click)="openConfiguration(deviceId, hostName)"
        [disabled]="!actions?.configuration?.enabled"
        [matTooltip]="actions?.configuration?.tooltip || ''"
        data-testid="configuration-button-sm"
      >
        <mat-icon>settings</mat-icon>Configuration
      </button>
    }
    <button
      class="m3-action-button transparent dropdown-trigger"
      [matMenuTriggerFor]="actionsMenu"
    >
      <span>Take Action</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #actionsMenu="matMenu">
      @if (actions?.screenshot?.visible) {
        <button
          mat-menu-item
          (click)="takeScreenshot(deviceId)"
          [disabled]="!actions?.screenshot?.enabled || takingScreenshot()"
          [matTooltip]="actions?.screenshot?.tooltip || ''"
          data-testid="screenshot-menu-item-sm"
        >
          <mat-icon class="dropdown-mat-icon">screenshot</mat-icon>
          <span>Screenshot</span>
        </button>
      }
      @if (actions?.remoteControl?.visible) {
        <button
          mat-menu-item
          (click)="remoteControl(deviceId, actions?.remoteControl?.runAsOptions || [], actions?.remoteControl?.defaultRunAs || '')"
          [disabled]="!actions?.remoteControl?.enabled"
          [matTooltip]="actions?.remoteControl?.tooltip || ''"
          data-testid="remote-control-menu-item-sm"
        >
          <mat-icon class="dropdown-mat-icon">important_devices</mat-icon>
          <span>Remote Control</span>
        </button>
      }
      @if (actions?.flash?.visible) {
        <button
          mat-menu-item
          (click)="flashDevice(deviceId, hostName, deviceType, '')"
          [disabled]="!isAndroid"
          data-testid="flash-menu-item-sm"
        >
          <mat-icon class="dropdown-mat-icon">flash_on</mat-icon>
          <span>Flash</span>
        </button>
      }
      @if (actions?.logcat?.visible) {
        <button
          mat-menu-item
          (click)="getLogcat(deviceId)"
          [disabled]="!actions?.logcat?.enabled || gettingLogcat()"
          [matTooltip]="actions?.logcat?.tooltip || ''"
          data-testid="logcat-menu-item-sm"
        >
          <mat-icon class="dropdown-mat-icon">description</mat-icon>
          <span>Get Logcat</span>
        </button>
      }
      @if (actions?.quarantine?.visible) {
        @if (quarantineInfo?.isQuarantined) {
          <button mat-menu-item (click)="quarantineDevice(deviceId)" [disabled]="unquarantining()" data-testid="quarantine-menu-item-sm">
            @if (unquarantining()) {
              <span>
                <mat-icon class="spin-animation dropdown-mat-icon">sync</mat-icon>
                <span>Working...</span>
              </span>
            } @else {
              <span>
                <mat-icon class="dropdown-mat-icon">play_circle_outline</mat-icon>
                <span>Unquarantine</span>
              </span>
            }
          </button>
          <button mat-menu-item (click)="changeQuarantine(deviceId)">
            <mat-icon class="dropdown-mat-icon">edit_calendar</mat-icon>
            <span>Change Duration</span>
          </button>
        } @else {
          <button mat-menu-item (click)="quarantineDevice(deviceId)" data-testid="quarantine-menu-item-sm">
            <mat-icon class="dropdown-mat-icon">block</mat-icon>
            <span>Quarantine</span>
          </button>
        }
      }
    </mat-menu>
  </div>
</div>
